@import "mediaqueries";
@import "variables";

.App {
  margin: auto;
  width: 65vw;
  text-align: center;
}


.flex-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.flex-item {
  padding: 1vh;
  margin-top: 1vh;
  font-weight: bold;
  font-size: 0em;
  text-align: center;
}

.loading{
  margin-top: 30vh;
}

.notFound{
  margin : auto;
  padding: 2vw;
  width: 70%;
  box-shadow: rgb(0 0 0 / 20%) 0 0 20px;
  border-radius: 2vh;
  background-color: white;
  color: black;
  align-items: center;
  justify-content: center;
  font-family: Georgia, serif;
  font-size: 1.5vw;
}