@import "mediaqueries";
@import "variables";

.App {
  width: 100vw;
  text-align: center;
}


.container {
  display: flex;
  flex-flow: wrap;
  justify-content: space-around;
  list-style: none;
}

.item {
}