.filterCard {
  position: relative;
  font-size: 2vh;
  font-weight: normal ;
  display: inline-block;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  padding: 2px;
  background-color: white;
  border-radius: 20px;
  overflow: hidden;
  border: solid 0.5px black;
}

.filterCard:hover {
  background-color: #e22b76;
  color: white;
  border: solid 0.5px #e22b76;

}