
.text {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3; /* number of lines to show */
  line-clamp: 2;
  -webkit-box-orient: vertical;
  color: white;
  font-size: 1vw;
  text-align: left;
}

.button {
  background-color: #e22b76;
  border: none;
  color: white;
  padding: 0.7vw 3vw;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1vw;
  margin: 4px 2px;
  cursor: pointer;
  float: left;
}

.card{
  background: transparent;
  height: 100%;
  width: 100%;
  position: absolute;
  right: 0;
  top: 0;
}

.card:hover{
  background: rgba(0, 0, 0, 0.8);
}

.initialCard {
  background: rgba(0, 0, 0, 0.3);
  height: 100%;
  width: 100%;
  position: absolute;
  right: 0;
  top: 0;
}

.parent{
  overflow: hidden;
  position: relative;
  width: 100%;
}

.smallLogoStyle   {
  width : 6.5vw;
  height : 3vw;
  margin-top : 4vw;
  margin-left : 1.5vw;
}
.logoStyle   {
  margin-top: 3vw;
  width : 15vw;
  height : 7vw;
}
