@import "/src/styles/variables";

.pageHeader {
  margin : auto;
  width: 100%;
  box-shadow: rgb(0 0 0 / 20%) 0 0 20px;
  border-radius: 2vh;
  background-color: white;
  color: black;
  height:  12vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
