@import "/src/styles/variables";

.pageHeader {
  margin-left : 16vw;
  width: 66.5vw;
  box-shadow: rgb(0 0 0 / 20%) 0 0 20px;
  border-radius:  0 0 2vh 2vh;
  background-color: white;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
}
